<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{school_name}}">
  <ion-content class="padding">
    <ion-list>

      <div class="list card" ng-repeat="sphere in spheres" >


        <a href="#/tab/sphere/{{sphere._id.$oid}}">
          <div class="item item-image" >
            <img src="{{ sphere.thumbnail_url}}">
          </div>



          <a class="item item-icon-right assertive" href="#/tab/sphere/{{sphere._id.$oid}}">
            <i class="icon ion-eye"></i>
            0 Favorites &nbsp&nbsp&nbsp 0 Comments
          </a>
        </a>
      </div>

    </ion-list>


  </ion-content>
</ion-view>
