<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{sphere.school_name}}">
  <ion-content class="padding">

    <!--<p>-->
      <!--lat: {{sphere.lat}}-->
    <!--</p>-->

    <!--<p>-->
      <!--lng: {{sphere.lng}}-->
    <!--</p>-->

    <div id="map" style="width: 1px; height: 1px;float:left; display: none"></div>
    <div id="pano" style="width: 95vw; height: 80vh; margin: auto"></div>

    <!--<button class="button" ng-click="delete_sphere()">-->
      <!--DELETE-->
    <!--</button>-->

  </ion-content>
</ion-view>
